PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/codex40

# Cashfree Payment Gateway Credentials
CASHFREE_APP_ID=your_cashfree_app_id
CASHFREE_SECRET_KEY=your_cashfree_secret_key
CASHFREE_ENV=SANDBOX
CASHFREE_API_VERSION=2023-08-01

ADMIN_SECRET=your_admin_secret_key
SENDGRID_API_KEY=your_sendgrid_api_key
EMAIL_FROM_ADDRESS=codersclub@gprec.ac.in
EVENT_FEE_PER_TEAM=300
REGISTRATION_CAP=50
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000
